/*browser size reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*var list*/
:root {
    /*header var*/
    --header-bg-color: rgb(37, 94, 233);
    --header-font-color: white;
    --header-padding: 10px;
    /*degug*/
    --debug: none;
    /*buttons var*/
    --dark-buttons-font-color: white;
    --clear-buttons-font-color: black;
    --login-button-color: white;
    --download-button-color: white;
    --browser-button-color: rgb(35, 39, 42);
    --end-page-buttons-color: rgb(114, 137, 218);
    --button-radius: 25px;
    --buttons-padding: 15px 15px;
     /*sections var*/
     --odd-section-bg-color: white;
     --even-section-bg-color:rgb(246, 246, 246);
     /*others var*/
     --end-page-titles-color:rgb(114, 137, 218);
     --footer-font-color:white;
     --footer-bg-color:rgb(35, 39, 42);
     --href-text-decoration:none;
}

/*general settings*/

.debug {
    border: 1px solid var(--debug);
}

.container {
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 15%;
}

.buttons-settings {
    display: block;
    padding: var(--buttons-padding);
    border-radius: var(--button-radius);
    margin: auto 20px;
}

.flex-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.flex-row-reverse-center {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-wrap{
    flex-wrap: nowrap;
}

.font-x2 {
    font-size: 2em;
}

/*header settings*/
header {
    color: var(--header-font-color);
}

#nav-settings {
    justify-content: space-between;
    background-color: var(--header-bg-color);
    padding: 10px 5%;
}

header a {
    text-decoration: none;
    color: var(--header-font-color);
}

ul {
    list-style: none;
}

li {
    padding: 0 15px;
}

#log-in {
    background-color: var(--login-button-color);
}

.clear-button-font {
    color: var(--clear-buttons-font-color);
}

#hero {
    background-image: url(../Img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 5% 5%;
    text-align: center;
}

h1, h2 {
    font-size: 3em;
    margin: 20px auto;
}

#hero-p {
    width: 40%;
    min-width: 500px;
    margin: 10px;
}

#download-button {
    background-color: var(--download-button-color);
}

#browser-button {
    background-color: var(--browser-button-color);
}

/*main settings*/
main>div:nth-child(2n+1){
    background-color: var(--odd-section-bg-color) ;
}
main>div:nth-child(2n){
    background-color: var(--even-section-bg-color) ;
}
.section-text-width{
    width: 40%;
}
.img-width{
    width: 60%;
}
main img{
    width: 100%;
}
#last-img-width{
    width: 100%;
}
#last-section-text-width{
    width: 100%;
    text-align: center;
}